/* CSS declarations go here */
#app {
    padding: 1%;
}

#clickable {
    cursor: pointer
}

#search-group #search-form {
    width: 80%;
    float: left;
}

#error-msg {
    color: red;
}

.eventForm {
    padding-bottom: 0.5%;
}

#add-event-btn {
    margin-top: 1%;
    margin-right: 0.5%;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}